In [1]:
import pandas as pd
from sodapy import Socrata
# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.austintexas.gov", None)
# Example authenticated client (needed for non-public datasets):
#client = Socrata(data.austintexas.gov,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")
# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("fdj4-gpfu", limit=2150000)
# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

results_df.tail()

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

,:@computed_region_8spj_utxs,:@computed_region_a3it_2a2z,:@computed_region_q9nd_rr82,:@computed_region_qwte_z96m,address,category_description,census_tract,clearance_date,clearance_status,council_district,...,pra,rep_date,rep_date_time,rep_time,sector,ucr_category,ucr_code,x_coordinate,y_coordinate,zip_code
2149995,9,2856,10,NaN,600 W 6TH ST,NaN,11,2003-02-12T00:00:00.000,C,9,...,373,2003-02-07T00:00:00.000,2003-02-07T02:22:00.000,222,GE,NaN,2100,3112482,3112482,78701
2149996,1,2857,8,566,1161 HARVEY ST,NaN,8.02,2003-02-11T00:00:00.000,C,1,...,415,2003-02-07T00:00:00.000,2003-02-07T02:21:00.000,221,CH,NaN,2100,3127032,3127032,78702
2149997,9,2860,10,952,2212 SAN GABRIEL ST,NaN,6.04,NaN,N,9,...,358,2003-02-07T00:00:00.000,2003-02-07T02:19:00.000,219,BA,NaN,2300,3112358,3112358,78705
2149998,9,2860,10,952,2212 SAN GABRIEL ST,NaN,6.04,2003-02-08T00:00:00.000,C,9,...,358,2003-02-07T00:00:00.000,2003-02-07T02:19:00.000,219,BA,NaN,900,3112358,3112358,78705
2149999,4,3642,9,3851,9400 N LAMAR BLVD,NaN,18.19,2003-02-07T00:00:00.000,C,4,...,238,2003-02-07T00:00:00.000,2003-02-07T02:16:00.000,216,ED,NaN,2100,3127950,3127950,78758

In [3]:
# Since the data is big, I put it on Desktop rather than Project1 folder (causing problem when pushing info to GitHub).
results_df.to_csv("../../Desktop/FullAustinCrimeReport.csv", header=True, index=False)