In [3]:
import pandas as pd
from sodapy import Socrata
# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.austintexas.gov", None)
# Example authenticated client (needed for non-public datasets):
#client = Socrata(data.austintexas.gov,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")
# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("fdj4-gpfu", limit=500000)
# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

results_df.tail()

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

,:@computed_region_8spj_utxs,:@computed_region_a3it_2a2z,:@computed_region_q9nd_rr82,:@computed_region_qwte_z96m,address,category_description,census_tract,clearance_date,clearance_status,council_district,...,pra,rep_date,rep_date_time,rep_time,sector,ucr_category,ucr_code,x_coordinate,y_coordinate,zip_code
499995,8,3255,2,NaN,6014 RICKERHILL LN,Theft,17.7,2015-02-06T00:00:00.000,N,8,...,54,2015-02-01T00:00:00.000,2015-02-01T10:21:00.000,1021,DA,23F,601,3068677,3068677,78739
499996,5,2859,1,NaN,200 S LAMAR BLVD NB,NaN,13.03,2015-02-13T00:00:00.000,N,5,...,437,2015-02-01T00:00:00.000,2015-02-01T09:20:00.000,920,DA,NaN,1818,3109736,3109736,78704
499997,4,3646,9,3851,9300 NORTHGATE BLVD,NaN,18.2,2015-03-04T00:00:00.000,N,4,...,236,2015-03-04T00:00:00.000,2015-03-04T09:17:00.000,917,ED,NaN,2703,3122003,3122003,78758
499998,6,2862,6,3170,10500 LAKELINE MALL DR,Theft,203.11,2015-02-04T00:00:00.000,N,6,...,573,2015-02-01T00:00:00.000,2015-02-01T09:16:00.000,916,AD,23F,601,3097733,3097733,78717
499999,NaN,NaN,NaN,NaN,7928 US HWY 71 W,Theft,NaN,2015-02-12T00:00:00.000,N,NaN,...,NaN,2015-02-02T00:00:00.000,2015-02-02T19:05:00.000,1905,NaN,23H,612,NaN,NaN,NaN

In [ ]:
zip_code_df = results_df.groupby("zip_code")
# group by zip code and count crimes by zip code
zip_code_df["category_description"].value_counts()
number_by_zio_code = zip_code_df["zip_code"].count()

In [ ]:
results_df.columns

In [ ]:
# number of crimes per categort
results_df["category_description"].value_counts()

In [ ]:
# family violence count
results_df["family_violence"].value_counts()

In [ ]:
# family violence by zip code
zip_code_df["family_violence"].count()